.pseq-bottomspace {
  margin-bottom: 1rem;
}

.pseq-topspace {
  margin-top: 15px;
}

#pseq-panelcontainer {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 300px;
  z-index: 100;
  pointer-events: none;
  overflow: hidden auto;
}

.pseq-panel {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  pointer-events: all;
  user-select: none;
}

.pseq-buttongroup {
  display: flex;
  gap: 5px;
}

.pseq-buttongroup button {
  display: block;
  flex: 1 1 auto;
}

.pseq-error {
  padding: 3px;
  color: var(--vscode-errorForeground);
  border-radius: 2px;
}

.pseq-error:hover {
  cursor: pointer;
  color: var(--vscode-foreground);
  background-color: var(--vscode-statusBarItem-errorBackground);
}

#pseq-editor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: var(--vscode-editor-background);
  padding: 0;
  margin: 0;
}

.pseq-step-setting-help {
  margin: 3px 0;
}

#pseq-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pseq-header {
  display: block;
  color: var(--vscode-settings-headerForeground);
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
}