/* src/common/css/reset.css */
html {
  box-sizing: border-box;
  font-size: 13px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}

/* src/common/css/vscode.css */
:root {
  --container-padding: 20px;
  --input-padding-vertical: 6px;
  --input-padding-horizontal: 4px;
  --input-margin-vertical: 4px;
  --input-margin-horizontal: 0;
}
body {
  padding: 0 var(--container-padding);
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  background-color: var(--vscode-editor-background);
}
ol,
ul {
  padding-left: var(--container-padding);
}
body > *,
form > * {
  margin-block-start: var(--input-margin-vertical);
  margin-block-end: var(--input-margin-vertical);
}
*:focus {
  outline-color: var(--vscode-focusBorder) !important;
}
a {
  color: var(--vscode-textLink-foreground);
}
a:hover,
a:active {
  color: var(--vscode-textLink-activeForeground);
}
code {
  font-size: var(--vscode-editor-font-size);
  font-family: var(--vscode-editor-font-family);
}
button {
  border: none;
  padding: var(--input-padding-vertical) 8px;
  text-align: center;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  color: var(--vscode-button-foreground);
  background: var(--vscode-button-background);
  border: 1px solid var(--vscode-button-border, transparent);
  border-radius: 2px;
}
button:hover {
  cursor: pointer;
  background: var(--vscode-button-hoverBackground);
}
button:focus {
  outline-color: var(--vscode-focusBorder);
}
button.secondary {
  color: var(--vscode-button-secondaryForeground);
  background: var(--vscode-button-secondaryBackground);
}
button.secondary:hover {
  background: var(--vscode-button-secondaryHoverBackground);
}
.btn-large {
  width: 100%;
}
.btn-transparent {
  background: transparent;
  border: none;
  height: 31px;
  line-height: 31px;
  color: var(--vscode-foreground);
}
.btn-transparent:disabled {
  opacity: 0;
}
.btn-transparent:not(:disabled):hover {
  background-color: transparent;
  color: var(--vscode-settings-headerForeground);
  background-color: var(--vscode-input-background);
}
label {
  display: block;
  color: var(--vscode-settings-headerForeground);
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 8px;
}
input:not([type=checkbox]),
textarea,
select {
  display: block;
  width: 100%;
  max-width: 300px;
  font-family: var(--vscode-font-family);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  color: var(--vscode-input-foreground);
  border: 1px solid var(--vscode-input-border);
  background-color: var(--vscode-input-background);
  border-radius: 2px;
}
input::placeholder,
textarea::placeholder {
  color: var(--vscode-input-placeholderForeground);
}
.input-large {
  max-width: none !important;
  width: 100%;
}

/* src/webview/gui/gui.css */
#gui {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#gui-preview {
  position: absolute;
  top: 0;
  right: 0;
  left: 300px;
  bottom: 0px;
}
#gui-preview iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
#gui-sidebar {
  position: absolute;
  top: 0;
  width: 300px;
  left: 0;
  bottom: 0px;
  overflow: hidden auto;
  padding: 0 10px 10px;
}
#gui-sidebar-tabs {
  display: flex;
}
#gui-sidebar-tabs button {
  flex: 1 1 auto;
  border: 1px solid var(--vscode-button-background);
  border-width: 0 0 1px 0;
  background-color: transparent;
  border-radius: 2px 2px 0 0;
}
#gui-sidebar-tabs button.selected,
#gui-sidebar-tabs button:hover {
  background: var(--vscode-button-background);
}
#gui-propeditor label {
  margin: 10px 0 2px;
  user-select: none;
}
#gui-propeditor input:not([type=checkbox]),
textarea,
select {
  padding: 3px;
}
#gui-propeditor input[type=checkbox] {
  vertical-align: text-top;
}
.tabs-editor-entry {
  display: flex;
}
.tabs-editor-entry-text {
  flex: 1 1 auto;
}
.tabs-editor-entry-options {
  flex: 1 0 auto;
}
/*# sourceMappingURL=gui.css.map */
