@import '../../common/css/reset.css';
@import '../../common/css/vscode.css';

#gui {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#gui-preview {
  position: absolute;
  top: 0;
  right: 0;
  left: 300px;
  bottom: 0px;
}

#gui-preview iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#gui-sidebar {
  position: absolute;
  top: 0;
  width: 300px;
  left: 0;
  bottom: 0px;
  overflow: hidden auto;
  padding: 0 10px 10px;
}

#gui-sidebar-tabs {
  display: flex;
}

#gui-sidebar-tabs button {
  flex: 1 1 auto;
  border: 1px solid var(--vscode-button-background);
  border-width: 0 0 1px 0;
  background-color: transparent;
  border-radius: 2px 2px 0 0;
}

#gui-sidebar-tabs button.selected,
#gui-sidebar-tabs button:hover {
  background: var(--vscode-button-background);
}

/* PROP EDITOR */
#gui-propeditor label {
  margin: 10px 0 2px;
  user-select: none;
}

#gui-propeditor input:not([type=checkbox]),
textarea,
select {
  padding: 3px;
}

#gui-propeditor input[type=checkbox] {
  vertical-align: text-top;
}

.tabs-editor-entry {
  display: flex;
}

.tabs-editor-entry-text {
  flex: 1 1 auto;
}

.tabs-editor-entry-options {
  flex: 1 0 auto;
}