.test .pgm-widget-progressbar-inner {
    color:white;
}

.bluebox {
    color: #333;
    background-color: #FFF;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 3px rgba(0.2, 0.2, 0.2, 0.5);
}

/* modifies an RPGM sub element of a custom class */
.bluebox .pgm-widget-box-header
{
    background-color: #005782;
    border-radius: 6px 6px 0 0;
    color: #EFEFEF;
}
